<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href={% url "inicio" %}>Inicio</a>
        <a href={% url "resultados" %}>Resultados de participantes</a>
    </nav>

    <h1>Ingrese para participar</h1>
    <form action={% url "crear_jugador" %} method="POST">
        {% csrf_token %}
        <table>
            {{formulario}}
        </table>
        <input type="submit" value="Participar">
    </form>
</body>
</html>